<% provide(:title, "Attendees") %>
<h1>Attendees</h1>
<div class = "row">
	<div class = "col-md-6">
		<%= link_to "Update database", events_path, method: "post", class: "btn btn-lg btn-primary" %>
		<%= link_to "Send Email/RSVP", event_email_path(event_id: params[:event_id]), class: "btn btn-lg" %>
		<%= link_to "Disable RSVP (BETA)", event_disable_path(event_id: params[:event_id]),class: "btn btn-lg" %>
	</div>
	<div class = "md-offset-1 col-md-2">
		<p>Total number: <%= @attendees.count %></p>
		<p>Coming: <%= @attendees.where(attending: true).count %></p>
		<p>Not coming: <%= @attendees.where(attending: false).count %></p>
		<p>Unconfirmed: <%= @attendees.where(attending: nil).count %></p>
		<p>Unsent: <%= @attendees.where(digest: nil).count %></p>
	</div>
	<div class = "md-offset-1 col-md-2">
	<h3>Coming attendees by ticket type</h3>
	<% @attendees.pluck(:tickettype).uniq.each do |ticket_type| %>
		<p><%= ticket_type %>: <%= @attendees.where(tickettype: ticket_type).where(attending: true).count %></p>
	<% end %>
	</div>
</div>
<br>
<table class ="table">
	<thead>
		<tr>
			<th>No</th>
			<th>Name</th>
			<th>Email</th>
			<th>RSVP status</th>
			<th>Action</th>
		</tr>
	</thead>

	<tbody>
	<% @attendees.each_with_index do |attendee, index| %>
		<tr>
			<td><%= index+1 %></td>
			<td><%= attendee.name %></td>
			<td><%= attendee.email %></td>
			<% if attendee.attending.nil? && attendee.digest.nil? %>
			<td>Not sent</td>
			<% elsif attendee.digest && attendee.attending.nil?%>
			<td>Not RSVPed</td>
			<% else %>
			<td><%= attendee.attending? %></td>
			<% end %>
			<td><%= link_to "Send email", "mailto:#{attendee.email}" %> /
			<% if attendee.attending? %>
				<%= link_to "Un-RSVP", "https://eventbrite-rsvp.herokuapp.com/events/#{@event.id}/rsvp?email=#{attendee.email}&token=#{attendee.digest}&event_uid=#{@event.uid}&status=false" %>
			<% else %>
				<%= link_to "RSVP", "https://eventbrite-rsvp.herokuapp.com/events/#{@event.id}/rsvp?email=#{attendee.email}&token=#{attendee.digest}&event_uid=#{@event.uid}&status=true" %>
			<% end %>
				</td>
		</tr>
	<% end %>
	</tbody>
</table>


