<% provide(:title, "Events") %>
<h1>Events</h1>
<div class = "row">
	<div class = "col-md-4">
		<%= link_to "Update database", events_path, method: "post", class: "btn btn-lg btn-primary" %>
</div>
<br>
<table class ="table">
	<thead>
		<tr>
			<th>No</th>
			<th>Name</th>
			<th>Time</th>
			<th>Registered</th>
			<th>Confirmed</th>
			<th>Action</th>
		</tr>
	</thead>

	<tbody>
	<% @events.each_with_index do |event, index| %>
		<tr>
			<td><%= index %></td>
			<td><%= link_to event.name, event_attendees_path(event_id: event.id) %> </td>
			<td><%= event.time %></td>
			<td><%= event.capacity %></td>
			<td>haha</td>
			<td><%= link_to "Open page", event.url %></td>
		</tr>
	<% end %>
	</tbody>
</table>


